{% include 'header.html' %}
<script>
	var data = {{winds|safe}};
</script>
<body>
	Current winds for <b><span id="display_airport_code"></span></b> at <b><span id="display_altitude"></span>ft</b> MSL.<br>
	Direction: <b><span id="display_direction"></span></b> (degrees)<br>
	Speed: <b><span id="display_speed"></span></b> (knots)<br>
<select name="airport_code" id="airport_code" onchange="updateWinds();">
{% for airport in airports %}
<option value="{{airport.airport_code}}"{% if airport.airport_code == "MSP" %}selected="MSP"{% endif %}>{{airport.airport_code}}</option>
{% endfor %}
</select>
<div>
	<div data-role="fieldcontain">
		<input class="altitude_selector" type="range" id="altitude_selector" value="3000" min="3000" max="39000"/>
	</div>
		<span id="speedometer"></span>
</div>
{% include 'footer.html' %}
