{% include 'header.html' %}
<script>
	var data = {{winds|safe}};
</script>
<body>
	<center>
	Current winds for <b><span id="display_airport_code"></span></b> at 3000ft MSL.<br>
	Direction: <b><span id="display_direction"></span></b> (degrees)<br>
	Speed: <b><span id="display_speed"></span></b> (knots)<br>
<select name="airport_code" id="airport_code" onchange="updateWinds();">
{% for airport in airports %}
	<option value="{{airport.airport_code}}">{{airport.airport_code}}</option>
{% endfor %}
</select>
</center>
<div>
		<div class="altitude_selector"></div>
		<span id="speedometer"></span>
</div>
{% include 'footer.html' %}
